@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,500,500,500');

* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;

  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {

  font-family: 'Fira Sans', sans-serif;

}

body, html, .App, #root {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
label
{
  display: contents;
}
.hide {
  display: none;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 80px;
}

.auth-inner {
  width: 462px;
  margin: auto;
  padding:30px 35px 30px 30px;
  border-radius: 15px;
  transition: all .3s;
}


.auth-inners {
  width: 462px;
  margin: auto;
  padding:30px 35px 30px 30px;
  border-radius: 15px;
  transition: all .3s;
}


.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 300;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.header_design{
  background: rgba(255, 90, 96, 0.45) 0% 0% no-repeat padding-box;
box-shadow: 0px 96px 92px rgba(0, 0, 0, 0.16);
border: 1px solid rgba(112, 112, 112, 1);
opacity: 1;
height: 68px;
}

.body_UX{
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
border: 1px solid rgba(112, 112, 112, 1);
border-radius: 20px;
min-height: 150vh;
display: flex;
position: relative;
z-index: 1;
}

.body_color_code{
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
border: 4px solid rgba(255, 90, 96, 1);
border-radius: 30px;
top: 103px;
    left: 33px;
    width: 100%;
    padding-top: 20px;
}

.img_logo{
  background:  url('img/logo/logo.png') 50% 80% no-repeat padding-box;
  width: 250px;
  height: 35px;
  background-color: white;
  margin-top: -36px;
  margin-left: 58px;
}


.img_botlogo{
  background:  url('img/logo/logo.png') 50% 80% no-repeat padding-box;
width: 20%;
    height: 4%;
    background-color: white;
    margin-top: -45px;
    margin-left: 58px;
}


.border-image{
  width: 70px;
  height: 64px;
  background: transparent url('img/logo/rsz_logos.png') 100% 50% no-repeat padding-box;

}


.box{
  background: rgba(247, 247, 247, 1) 0% 0% no-repeat padding-box;
border: 1px solid rgba(112, 112, 112, 1);
border-radius: 10px;

padding-bottom: 40px;

}
.input
{

  margin-left: 2px;
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(112, 112, 112, 1);
  border-radius: 10px;
  padding: 9px;
  margin-top: 30px;
  width: 241px; 
}
.pev
{
  background: rgba(255, 90, 96, 1) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
border: 1px solid rgba(255, 90, 96, 1);
border-radius: 10px;
margin-top: 30px;
margin-left: 103px;
margin-right: 164px;
width: 164px;
height: 40px;
color: white;
}
.next
{
  background: rgba(92, 184, 92, 1) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
border: 1px solid rgba(92, 184, 92, 1);
border-radius: 10px;
margin-top: 30px;
 margin-left: 150px;
width: 164px;
height: 40px;
color: white;
}